body {
  background: rgb(207, 209, 182);
  margin: 0;
  font-family: "Cormorant", serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.navUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navUl li {
  margin-left: 20px;
}
.bodyHeader {
  text-align: center;
}
img {
  max-width: 100%;
}
h1 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
.bodyHeader p {
  padding: 0 10%;
}

h2 {
  margin-bottom: 0;
}
main,
article {
  max-width: 1200px;
  margin: auto;
  padding: 2vw;
}
