html {
  scroll-behavior: smooth;
}

body {
  background: rgb(207, 209, 182);
  margin: 0;
  font-family: "Cormorant", serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
  background: rgb(244, 239, 199);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.navUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navUl li {
  margin-left: 20px;
}
.bodyHeader {
  text-align: center;
}
img {
  max-width: 100%;
}
h1 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
.bodyHeader p {
  padding: 0 10%;
}

h2 {
  margin-bottom: 0;
}
main,
article {
  max-width: 1200px;
  margin: auto;
  padding: 2vw;
}
footer {
  background: rgb(158, 145, 183);
  padding: 1vw;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}

#aboutme,
#mission,
#contact {
  padding-top: calc(1.5rem + 30px);
}

label,
#toggler {
  display: none;
}
@media (max-width: 768px) {
  .navUl {
    display: none;
    position: absolute;
    right: 0;
    top: calc(30px + 1.5rem);
    padding: 1rem 1rem 1rem 0;
    background: rgb(244, 239, 199);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  label {
    display: flex;
  }
}
#toggler:checked ~ .navUl {
  display: block;
}
